<!--The content below is only a placeholder and can be replaced.-->
<div class="fullframe" fxLayout="row">
  <div fxFlex="20" fxLayout="column">
    <button fxFlex="20px" (click)="openProjectDialog()">Open Project</button>
    <div>
      {{projectDirectory}}
    </div>
  </div>
  <div fxFlex fxLayout="column">
    <button fxFlex="20px" (click)="openFileDialog()">Open File</button>
    <div *ngIf="codeContent" fxFlex>
      <codemirror [(ngModel)]="codeContent" [config]="codeConfig"></codemirror>
    </div>
  </div>
</div>

